.container {
  position: absolute;
  top: -180%;
  left: 200%;
}

.msgContainer {
  font-size: 12px;
  line-height: 16px;
  color: #2c2c2c;
  font-family: Arial,Tahoma,"Bitstream Vera Sans",sans-serif;
  padding: 18px;
  background-color: #fff;
  border: 1px solid;
  border-color: #e0e0e0;
  box-shadow: 0 2px 12px rgba(0,0,0,0.35);
  z-index: 100;
  width: max-content;
  text-align: center;
  height: 8px;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #e5e5e5;
  position: absolute;
  top: 40%;
  left: -2.5%;
  z-index: 0;
}

.arrow-left:before {
  content: " ";
  position: absolute;
  z-index: 2;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid white;
  top: -5.5px;
  left: 1px;
}

.dummy {
  position: absolute;
  width: 20px;
  height: 55px;
  background-color: transparent;
  top: -8%;
  left: -7%;
}